*{
    margin:0; padding:0; list-style: none; text-decoration: none;
    -ms-overflow-style: none;
}
html,
body{
width:100%;
overflow-x:hidden;
}
::-webkit-scrollbar{
    display: none;
}

header{
    width:100vw; height:100vh;
    display: flex;
    position: relative;
    background: url(../images/nightsky.png) no-repeat center / cover;
    justify-content: center;
    align-items: center;
}

    .stroke-container{
        position: absolute;
        top: 2%;
        right: 24px;
    }

        .stroke-line{
            width: 24px;
            height: 3px;
            background-color: #fbfbfb;
        }
        .stroke-line:not(:first-of-type){
            margin-top:4px;
        }


    .menu-navi{
        position: absolute;
        width:100vw;
        top:-65px; right:0;
        transition-duration: 700ms ;
    }

        .menu-container{
            display: flex;
            background-color: #595F7C;
            justify-content: space-around;
        }

            .menu-list-container{
                padding:20px 0;
            }

                .menu-list{
                    font-size: 14px;
                    font-weight: 700;
                    color:#fbfbfb;
                    display: block;
                    line-height: 23px;
                }
    /* nav fin */

    .title-container {
        position: relative;
        width:200px;
    }

    .title-line{
        position: absolute;
        background: #fbfbfb;
        animation-duration: 12s;
        animation-direction: normal;
        animation-iteration-count: infinite;
    }

    .top-line,
    .rigght-line{
        top:0px;
    }

    .bottom-line,
    .left-line{
        bottom:0px;
    }

    .top-line{
        animation-name: top-line;
    }

    .right-line{
        animation-name: right-line;
        animation-delay: 3s;
        right:0px;
    }

    .bottom-line{
        animation-name: bottom-line;
        animation-delay: 6s;
        right:0px;
    }


    .left-line{
        animation-name: left-line;
        animation-delay: 9s;
    }


    @keyframes top-line{
        0%{
            width: 0px;
            height:2px;
        }
        6.25% {
            left: 0px;     
        }
        12.5% {
            width: 50%;
        }
        18.75%{
            left: 50%;
            width: 50%;
        }
        25%{
            width: 0px;
            left: 100%;
            height: 2px;
        }
    }

    @keyframes right-line{
        0%{
            height:0px;
            width:2px;
        }
        6.25% {
            top:0px;
        }
        12.5% {
            height:50%;
        }
        18.75%{
            top:50%;
            height:50%;
        }
        25%{
            height:0px;
            top:100%;
            width:2px;
        }
    }

    @keyframes bottom-line{
        0%{
            width:0px;
            height:2px;
        }
        6.25% {
            right:0px;
        }
        12.5% {
            width:50%;
        }
        18.75%{
            width:50%;
            right:50%;
            height: 2px;
        }
        25%{
            right:100%;
            width:0px;
            height:2px;
        }
    }

    @keyframes left-line{
        0%{
            width:2px;
            height:0px;
        }
        6.25% {
            bottom:0px;
            height:50px;
        }
        12.5% {
            height:50%;
        }
        18.75%{
            height:50%;
            bottom:50%;
        }
        25%{
            width:2px;
            height:0px;
            bottom:100%;
        }
    }


    .title{
        font-size:24px;
        color:#fbfbfb;
        text-align: center;
    }

        .title span{
            font-size:44px;
            font-weight: 700;
        }

/* header fin */

main{
    background: linear-gradient(180deg, #2B2F4F 0%, rgba(43, 47, 79, 0) 100%);
    position: relative;
}

.body-section{
    height: 100vh;
}

    .yellow-star{
        position: absolute;
        width:8px; height:8px;
        background: #FEFFC4;
        box-shadow: 0px 0px 4px 2px rgba(251, 251, 251, 0.25);
        border-radius: 100px;
        animation-name: star_glitter;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .red-star{
        position: absolute;
        width:4px; height:4px;
        background: #FFD3D3;
        box-shadow: 0px 0px 4px 2px rgba(251, 251, 251, 0.25);
        border-radius: 100px;
        animation-name: star_glitter;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 3s;
    }
    .white-star{
        position: absolute;
        width:2px; height:2px;
        background: #FBFBFB;
        box-shadow: 0px 0px 4px 2px rgba(251, 251, 251, 0.25);
        border-radius: 100px;
        animation-name: star_glitter;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 6s;
    }

    @keyframes star_glitter{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    .sec-about-me{
        text-align: center;
        padding-top:52px;
    }

        .sub-title-container{
            position: relative;
            transition-duration: 1s;
        }

            .sub-title-deco{
                content: '';
                width:180px; height:10px;
                background-color: #6667AB;
                position: absolute;
                top: 20px; left:24px;
            }

            .sub-title-white{
                font-size:32px;
                font-weight: 700;
                color:#fbfbfb;
                position: absolute;
                top:0; left: 24px;
                text-align: left;
            }

            .hide-sub-title{
                transform: translateX(-200px);
                opacity: 0;
            }


        .about-introduce{
            text-align: center;
            color:#fbfbfb;
            margin-top:164px;
            font-size:18px;
            font-weight: 300;
            transition-duration: 1s;
            transition-delay: 500ms;
            opacity: 1;
        }

            .point-word{
                font-weight: 700;
                position: relative;
            }
            .point-word:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #6667AB;
                bottom: 0;
                left: 0;
            }
        

        .profile-container{
            margin-top:68px;
            transition-duration: 1s;
            transition-delay: 1s;
        }

            .profile-title{
                font-size:24px;
                font-weight: 700;
                color:#fbfbfb;
            }
            .profile-image-container{
                margin-bottom: 24px;
            }


        .introduce-container{
            transition-duration: 1s;
            transition-delay: 1.5s;
        }

            .introduce-container dl{
                display: flex;
                justify-content: center;
                font-size:14px;
                color:#fbfbfb;
                margin-top:10px;
            }

                .profile-icons{
                    width:12px; height: 20px;
                    transition-duration: 500ms;
                }

                .profile-icons:hover{
                    animation-name:icon_move;
                    animation-duration: 1s;
                }
                    @keyframes icon_move{
                        25%{
                            transform: rotate(5deg);
                        }
                        50%{
                            transform: rotate(-5deg);
                        }
                    }

                .q-introduce{
                    margin: 0 5px;
                    font-weight: 700;
                }
                .a-introduce{
                   margin: 0 5px;
                }

                    .a-introduce a{
                        color:#fbfbfb;
                    }
                
                .copy-mail,
                .phone-numb{
                    transition-duration: 700ms;
                }
                .copy-mail:hover,
                .phone-numb:hover{
                    cursor: pointer;
                    color:#6667AB;
                }
                

        .skil-tool-history{
            margin-top:42px;
            color:#fbfbfb;
            font-size:14px;
            transition-duration: 1s;
            transition-delay: 2s;
        }

            .skil-tool{
                width:120px;
                margin:0 auto;
                text-align: center;
            }

                .skil-tool-title{
                    font-weight: 700;
                    font-size:16px;
                }
                .skil-tool-list-container{
                    margin-top:18px;
                }

                    .skil-tool-list:not(:nth-of-type(3)){
                        position: relative;
                        padding-right:10px;
                    }
                    .skil-tool-list:last-child{
                        padding:0;
                    }
                    .skil-tool-list:not(:last-child):after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right:0; top:50%;
                        width:2px; height:2px;
                        background-color: #fbfbfb;
                    }
                    .skil-tool-list:nth-of-type(3):after{
                        display: none;
                    }


            .history{
                margin-top:36px;
            }
            .history-title{
                font-weight: 700;
                font-size:16px;
            }
            .history-list{
                margin-top:10px;
            }

/* sec-about-me fin */

    .sec-portfolio{
        padding-top: 80px;
        text-align: center;
    }

        .sub-title{
            font-size:32px;
            font-weight: 700;
            color:#333;
            position: absolute;
            top:0; left: 24px;
            text-align: left;
        }
        .view-portfolio-container{
            margin-top:140px;
            transition-duration: 1s;
            transition-delay: 500ms;
        }

            .portfolio-img-container{
                width:230px; height: 152px;
                margin:0 auto;
                margin-bottom: 32px;
            }

                .portfolio-img-container img{
                    width:100%; height:100%;
                }


            .view-more{
                border:2px solid #D81B16;
                padding:4px 8px;
                border-radius: 50px;
                color:#333;
                font-weight: 700;
                margin:0 12px;
                transition-duration: 700ms;
            }

                .view-more:hover{
                    background-color: #D81B16;
                    color:#fbfbfb;
                }
        
        .portfolio-information{
            margin-top:24px;
        }

            .portfolio-explanation{
                transition-duration: 1s;
                transition-delay: 1s;
            }

                .portfolio-title{
                    font-size:20px;
                    color:#333;
                }
                .portfolio-explanation p{
                    font-size:13px;
                    margin:16px 16px 0 16px;
                }
        

            .palette-title{
                margin:20px 0;
                font-size:18px;
                color:#333;
                transition-duration: 1s;
                transition-delay: 1.5s;
            }

            .palette{
                width: 250px;
                margin: 0 auto;
                transition-duration: 1s;
                transition-delay: 2s;
            }

                .palette-color-container{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                    .palette-color-list{
                        display: inline-block;
                        margin-top:12px;
                        width:70px; height:80px;
                    }
                    .palette-color-list:nth-of-type(1){
                        position: relative;
                    }

                        .color-container{
                            content: '';
                            width: 24px; height:24px;
                            margin:0 auto;
                            transition-duration: 500ms;
                        }
                        .color-container:hover{
                            width:32px; height:32px;
                        }

                            .color-d81b16{
                                background-color: #D81B16;
                            }
                            .color-15ab49{
                                background-color: #15ab49;
                            }
                            .color-4ff78a{
                                background-color: #4ff78a;
                            }
                            .color-969696{
                                background-color: #969696;
                            }
                            .color-222222{
                                background-color: #222222;
                            }
                            .color-fbfbfb{
                                background-color: #fbfbfb;
                            }
                            .palette-color-list p{
                                margin-top:8px;
                                font-size:14px;
                                color:#333;
                            }
                            .main-color{
                                font-size:14px;
                                font-weight: 700;
                                color:#333;
                                width:100px;
                                position: absolute;
                                left:50%;
                                transform: translateX(-50%);
                            }

    /* sec-portfolio fin */

    .sec-contact{
        padding:80px 0 40px 0;
        text-align: center;
        color:#333;
    }
        .contact-container{
            transition-duration: 1s;
            transition-delay: 500ms;
            margin-top:200px;
        }
            .dear-viewer{
                font-size:12px;
                width:350px;
                margin:0 auto;
                margin-top:72px;
                line-height: 24px;
            }
            .my-information{
                margin-top:80px;
            }

                .info-list{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top:12px;
                }

                    .svg-container{
                        margin-right: 12px;
                        width:20px; height:20px;
                    }
                    .information{
                        font-size:14px;
                        color:#333;
                    }
                    .phone-numb{
                        font-size:14px;
                        color:#333;
                    }


            .kakao-github {
                display: flex;
                justify-content: center;
                margin-top: 120px;
                transition-duration: 1s;
                transition-delay: 1s;
            }

                .kakao-github-svg{
                    width:24px; height:24px;
                }
                .kakao-github-svg:first-of-type{
                    margin-right:24px;
                }
    .hide-content{
        transform: translateY(100px);
        opacity: 0;
    }


/* mobile fin */


/* tablet size */

@media only screen and (min-width : 768px) and (max-width : 1023px) {
    .body-section{
        height:100vh;
    }
    
    .stroke-container{
        display: none;
    }

    .menu-navi{
        top:0;
        transition-duration: 0s;
    }
        .menu-container{
            background-color: transparent;
        }
            .menu-list-container a{
                font-size:16px;
            }
    
    .title-container{
        width:400px;
    }
        .title{
            font-size:38px;
        }

    /* header fin */

    .sub-title-white{
        font-size: 36px;
    }
    .sub-title{
        font-size: 36px;
    }
    .sub-title-deco{
        width:200px; height:12px;
    }

    .about-introduce{
        font-size:24px;
    }

    .profile-title{
        font-size:26px;
    }

    .introduce-container dl{
        font-size:16px;
        margin-top:18px;
    }
        .profile-icons{
            width: 18px; height:18px;
        }

    .skil-tool{
        width:124px;
        font-size:16px;
    }
        .skil-tool-title{
            font-size:20px;
        }
    .history{
        font-size:16px;
    }
        .history-title{
            font-size:20px;
        }

    /* sec-about fin */

    .portfolio-container{
        display: flex;
        justify-content: space-between;
        margin: 180px 24px 0;
    }
        .portfolio-img-container{
            width:300px; height:200px;
        }
        .view-more{
            padding:8px 12px;
        }
        
    .portfolio-title{
        font-size:22px;
    }
    .portfolio-explanation p{
        font-size: 14px;
    }
    .palette-title{
        margin:22px 0;
    }

    /* sec-portfolio fin */

    .sec-contact{
        text-align: left;
    }
        .contact-container{
            display: flex;
            margin: 260px 24px 86px;
            justify-content: space-between;
            align-items: center;
        }
            .dear-viewer{
                width:412px;
                font-size:14px;
                margin:0;
            }
            
            .my-information{
                margin:0;
            }
                .info-list{
                    justify-content: start;
                }
                .info-list:not(:first-of-type){
                    margin-top:24px;
                }
                .info-list:first-of-type{
                    margin:0;
                }
                    .svg-container{
                        width:24px; height:24px;
                    }
                    .information{
                        font-size:18px;
                    }
                    .phone-numb{
                        font-size:18px;
                    }

        .kakao-github-svg{
            width:32px; height: 32px;
        }
        .kakao-github-svg:first-of-type{
            margin-right:48px;
        }
        
}

/* tablet fin */


/* desktop size */

@media only screen and (min-width : 1024px){
    
    .stroke-container{
        display: none;
    }

    .menu-navi{
        top:2%;
        transition-duration: 0s;
    }
        .menu-container{
            background-color: transparent;
        }
            .menu-list-container a{
                font-size:18px;
            }
    
    .title-container{
        width:400px;
    }
        .title{
            font-size:42px;
        }

    /* header fin */

.sec-about-me{
    height:857px;
    padding-top:80px;
}
    .sub-title-white{
        font-size: 38px;
    }
    .sub-title{
        font-size: 38px;
    }
    .sub-title-deco{
        width:210px; height:12px;
    }

    .about-introduce{
        font-size:28px;
    }

    .profile-title{
        font-size:28px;
    }

    .introduce-container dl{
        font-size:18px;
        margin-top:18px;
    }
        .profile-icons{
            width: 20px; height:20px;
        }

    .skil-tool{
        width:140px;
        font-size:18px;
        line-height: 32px;
    }
        .skil-tool-title{
            font-size:22px;
        }
    .history{
        font-size:18px;
    }
        .history-title{
            font-size:22px;
        }

    /* sec-about fin */

.sec-portfolio{
    height: 857px;
}
    .portfolio-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 148px 72px 0;
        text-align: left;
    }

        .view-portfolio-container{
            text-align: center;
        }
            .portfolio-img-container{
                width:600px; height:400px;
            }
            .view-more{
                padding:8px 12px;
                margin:0 40px;
            }
        
    .portfolio-title{
        font-size:28px;
    }
    .portfolio-explanation p{
        font-size: 18px;
        margin: 48px 0;
        line-height: 26px;
    }
        .palette-title{
            font-size: 24px;
            margin-top: 24px;
        }

    .palette{
        margin:0;
        width:auto;
    }
        .palette-color-container{
            border-bottom: 1px solid #333;
            padding-bottom: 48px;
        }
            .palette-color-list{
                margin-top:32px;
                width:122px;
            }
                .color-container{
                    width:32px; height:32px;
                }
                .color-container:hover{
                    width:38px; height:38px;
                }
                .palette-color-list p,
                .main-color{
                    font-size:18px;
                }
                .palette-color-list p{
                    text-align: center;
                }
                .main-color{
                    width:120px;
                }



    /* sec-portfolio fin */

    .sec-contact{
        text-align: left;
        height: 857px;
        padding-bottom:0;
    }
        .contact-container{
            display: flex;
            margin: 120px 24px 48px;
            justify-content: center;
            align-items: center;
            height: 500px;
        }
            .dear-viewer{
                width:556px;
                font-size:18px;
                margin:0 400px 0 0;
            }
            
            .my-information{
                margin:0;
            }
                .info-list{
                    justify-content: start;
                }
                .info-list:not(:first-of-type){
                    margin-top:24px;
                }
                .info-list:first-of-type{
                    margin:0;
                }
                    .svg-container{
                        width:32px; height:32px;
                    }
                    .information{
                        font-size:24px;
                        font-weight: 700;
                    }
                    .phone-numb{
                        font-size:24px;
                        font-weight: 700;
                    }

        .kakao-github-svg{
            width:32px; height: 32px;
        }
        .kakao-github-svg:first-of-type{
            margin-right:48px;
        }
        
}

/* desktop fin */

/*  */